@font-face {
    font-family: 'Harmonia2';
    src: url(../fonts/Harmonia\ Sans\ W01\ Regular.otf);
    font-weight: regular;
}

@font-face {
    font-family: 'Harmonia';
    src: url(../fonts/Harmonia\ Sans\ W01\ Bold.otf);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Harmonia';
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    font-size: 50px;
    text-shadow: 2px 3px 15px rgba(0, 0, 0, 0.3)
}

h2 {
    font-family: 'Harmonia2';
    font-size: 40px;
    font-weight: 300;

}

h3 {
    font-family: 'Harmonia';
    font-size: 27px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .029em;
}

h4 {
    font-family: 'Harmonia2';
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .059em;
    text-decoration: none;
    color: #000000;

}

button {
    border: black;
    display: inline-block;
    padding: 8px 15px;
    font-weight: 300;
    background-color: white;
    transition: transform .25s ease-out;
    border-width: 2px;
    border-style: solid;
    letter-spacing: .045em;
    box-shadow: 3px 3px #000;
    text-transform: uppercase;

}

a {
    font-family: 'Harmonia2';
    letter-spacing: .09em;
}

button:hover {
    transform: scale(1.04);
}

button a {
    text-decoration: none;
    color: black;
    font-family: 'Harmonia';
    letter-spacing: .075em;
}

form {
    border-radius: 0;
}

input {
    border-style: solid black;
    border-radius: none;
    font-family: 'Harmonia2';
    font-size: medium;
    height: 30px;
    width: 180px;
    height: 30px;
    font-family: 'Harmonia2';
    padding-left: 10px;
}

body {
    font-family: 'Harmonia2';
}